class <%= create_migration_class_name(batch_table_name) %> < ActiveRecord::Migration<%= migration_version %>
  def change
    create_table :<%= batch_table_name %> do |t|
      t.string :provider_batch_id, null: false
      t.string :provider, null: false
      t.string :status
      t.boolean :completed, null: false, default: false
<% if postgresql? -%>
      t.jsonb :chat_ids, default: []
<% else -%>
      t.json :chat_ids
<% end -%>
      t.timestamps
    end
  end
end
