class <%= model_controller_class_name %> < ApplicationController
  def index
    @<%= model_resource_name %> = available_chat_models
  end

  def show
    @<%= model_variable_name %> = RubyLLM.models.find(params[:id], params[:provider])
  end

  def refresh
    RubyLLM.models.refresh
    redirect_to <%= model_resource_name %>_path, notice: "<%= model_model_name.pluralize %> refreshed successfully"
  end
end
