class <%= model_controller_class_name %> < ApplicationController
  def index
    @<%= model_table_name %> = RubyLLM.models.chat_models.all
                                      .sort_by { |model| [model.provider.to_s, model.name.to_s] }
  end

  def show
    @<%= model_variable_name %> = <%= model_model_name %>.find(params[:id])
  end

  def refresh
    <%= model_model_name %>.refresh!
    redirect_to <%= model_table_name %>_path, notice: "<%= model_model_name.pluralize %> refreshed successfully"
  end
end
