---
http_interactions:
- request:
    method: get
    uri: https://www.ruby-lang.org/en/about/license.txt
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      X-Origin-Cache:
      - HIT
      Last-Modified:
      - Thu, 24 Jul 2025 16:53:18 GMT
      Etag:
      - W/"688264fe-9c6"
      X-Proxy-Cache:
      - MISS
      X-Fastly-Request-Id:
      - 7aeb2007ee2d4b51bffa17795c9791a0d1c629c5
    body:
      encoding: ASCII-8BIT
      string: "Ruby is copyrighted free software by Yukihiro Matsumoto <matz@netlab.jp>.\nYou
        can redistribute it and/or modify it under either the terms of the\n2-clause
        BSDL (see the file BSDL), or the conditions below:\n\n  1. You may make and
        give away verbatim copies of the source form of the\n     software without
        restriction, provided that you duplicate all of the\n     o[...]
- request:
    method: post
    uri: "<OLLAMA_API_BASE>/chat"
    body:
      encoding: UTF-8
      string: '{"model":"qwen3","messages":[{"role":"user","content":[{"type":"text","text":"What''s
        in this file?"},{"type":"text","text":"<file name=''license.txt'' mime_type=''text/plain''>Ruby
        is copyrighted free software by Yukihiro Matsumoto <matz@netlab.jp>.\nYou
        can redistribute it and/or modify it under either the terms of the\n2-clause
        BSDL (see the file BSDL), or the conditions below:\n\n  1. You may make and
        give away verbatim copies of the source form of the\n     software without
        restriction, provided that you duplicate all of the\n     original copyright
        notices and associated[...]
