---
http_interactions:
- request:
    method: post
    uri: https://ai.mongodb.com/v1/embeddings
    body:
      encoding: UTF-8
      string: '{"input":["Ruby","Python","JavaScript"],"model":"voyage-4-lite","output_dimension":256}'
    headers:
      Authorization:
      - Bearer <VOYAGE_API_KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Api-Warning:
      - ''
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"object":"list","data":[{"object":"embedding","embedding":[0.020160614,-0.159230337,-0.05701473,0.023627726,-0.01277695,0.004911742,0.045971338,0.053676032,-0.019518556,-0.135602608,0.046998631,-0.009951896,-0.069855884,-0.021444729,0.061637547,-0.16231221,-0.00478333,0.038780291,-0.016051445,0.083210684,-0.045457691,-0.031846065,0.00144463,-0.044430401,0.069342241,-0.014510506,-0.029277837,0.041605342,0.025040254,0.048025925,0.023756137,-0.009117221,0.091429032,-0.032873359,0.033387005,0.000144463,-0.048282746,-0.035441589,-0.155121163,0.074992351,0.0[...]
