---
http_interactions:
- request:
    method: post
    uri: https://ai.mongodb.com/v1/embeddings
    body:
      encoding: UTF-8
      string: '{"input":"Ruby is a programmer''s best friend","model":"voyage-4-lite","output_dimension":256}'
    headers:
      Authorization:
      - Bearer <VOYAGE_API_KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Api-Warning:
      - ''
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"object":"list","data":[{"object":"embedding","embedding":[-0.005304965,-0.18170172,-0.091277383,0.027511174,-0.08317332,0.03604177,0.013542322,0.010130084,0.00325229,-0.078054957,0.072510071,0.00933034,-0.035188712,-0.031136679,0.013169108,-0.121134467,-0.012369365,-0.040307071,-0.008690545,0.008530597,-0.014928544,-0.000623133,-0.034335651,-0.026978014,0.045638692,0.009223708,-0.063126415,0.033909123,0.121134467,0.104499809,0.05246317,0.07208354,0.090424329,-0.05033052,0.019407108,-0.060567234,-0.046918284,0.010663246,-0.110897757,0.034975447,0.00238[...]
