---
http_interactions:
- request:
    method: post
    uri: https://ai.mongodb.com/v1/embeddings
    body:
      encoding: UTF-8
      string: '{"input":"Ruby is a programmer''s best friend","model":"voyage-4-lite"}'
    headers:
      Authorization:
      - Bearer <VOYAGE_API_KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Api-Warning:
      - ''
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"object":"list","data":[{"object":"embedding","embedding":[-0.002351671,-0.088142194,-0.044278979,0.013720248,-0.040121328,0.017773956,0.006652241,0.005015166,0.001448681,-0.038458269,0.035132147,0.004859254,-0.017254252,-0.015071484,0.006418374,-0.059038643,-0.006340417,-0.01954096,-0.00405371,0.004703342,-0.007171948,0.000092979,-0.016422721,-0.012940689,0.021411901,0.004417504,-0.0309745,0.016838485,0.059454408,0.050931219,0.025569551,0.034508504,0.044071097,-0.024634082,0.009822451,-0.029311439,-0.022763139,0.005015166,-0.054465223,0.016942427,0.00[...]
