---
http_interactions:
- request:
    method: post
    uri: https://ai.mongodb.com/v1/embeddings
    body:
      encoding: UTF-8
      string: '{"input":["Ruby is great"],"model":"voyage-4-lite"}'
    headers:
      Authorization:
      - Bearer <VOYAGE_API_KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Api-Warning:
      - ''
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"object":"list","data":[{"object":"embedding","embedding":[0.012227036,-0.091236725,-0.063163884,-0.014584717,-0.028950116,0.023247819,-0.000538017,-0.00937589,0.020287013,-0.071936645,0.036845602,0.019409737,-0.001836797,-0.017984161,-0.010965953,-0.067550264,-0.005949029,-0.009704868,-0.01156908,0.009979017,-0.031362623,-0.011843229,-0.030923987,-0.021712586,0.028950116,0.004002573,-0.031801261,0.03026603,0.012117377,0.026537605,0.042547897,0.048250191,0.046495639,-0.027085904,-0.017216545,0.016448928,-0.003385738,-0.025331352,-0.045399044,0.01590063[...]
