---
http_interactions:
- request:
    method: post
    uri: https://ai.mongodb.com/v1/embeddings
    body:
      encoding: UTF-8
      string: '{"input":["Ruby","Python","JavaScript"],"model":"voyage-4-lite"}'
    headers:
      Authorization:
      - Bearer <VOYAGE_API_KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Api-Warning:
      - ''
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"object":"list","data":[{"object":"embedding","embedding":[0.008743021,-0.075772852,-0.026836218,0.01074663,-0.006435835,0.00226165,0.02137183,0.025621908,-0.009471606,-0.063629761,0.021978984,-0.003779535,-0.033029191,-0.010078761,0.028900543,-0.076744296,-0.002185755,0.018578921,-0.007407282,0.03885787,-0.02137183,-0.015239571,0.001047341,-0.02149326,0.033029191,-0.006678697,-0.013721687,0.019914659,0.012264515,0.023314724,0.011050207,-0.004310795,0.042500798,-0.016271733,0.016393164,0.00004862,-0.022828998,-0.01724318,-0.073829956,0.035214946,0.0061[...]
