---
http_interactions:
- request:
    method: get
    uri: https://api.typesafe.ai/v1/models
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <AUTH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Typesafe-Request-Id:
      - req_01a116711a4d7778ae2de757319413bd
    body:
      encoding: ASCII-8BIT
      string: '{"models":[{"name":"jev-latest","description":"The latest iteration
        of TypeSafe''s System One Model: Jev","release_date":"2026-09-10T18:38:01.391457+00:00"},{"name":"jev-preview","description":"A
        preview version of `jev-latest`: should be better in most ways","release_date":"2026-09-10T18:39:06.057655+00:00"}]}'
  recorded_at: Wed, 07 Oct 2026 12:57:53 GMT
recorded_with: VCR 6.4.0
