---
http_interactions:
- request:
    method: post
    uri: https://api.twelvelabs.io/v1.3/embed
    body:
      encoding: UTF-8
      string: "-------------RubyMultipartPost-62d26724bdc66437a1b62b21353c774e\r\nContent-Disposition:
        form-data; name=\"model_name\"\r\nContent-Type: text/plain\r\n\r\nmarengo3.0\r\n-------------RubyMultipartPost-62d26724bdc66437a1b62b21353c774e\r\nContent-Disposition:
        form-data; name=\"text\"\r\nContent-Type: text/plain\r\n\r\na cat\r\n-------------RubyMultipartPost-62d26724bdc66437a1b62b21353c774e--\r\n"
    headers:
      X-Api-Key:
      - "<TWELVELABS_API_KEY>"
      Content-Type:
      - multipart/form-data; boundary=-----------RubyMultipartPost-62d26724bdc66437a1b62b21353c774e
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Tl-Report:
      - backend
      X-Ratelimit-Dimensions:
      - Duration,Request
      X-Ratelimit-Duration-Limit:
      - '144000'
      X-Ratelimit-Duration-Remaining:
      - '143999'
      X-Ratelimit-Duration-Reset:
      - '1782277433'
      X-Ratelimit-Request-Limit:
      - '2400'
      X-Ratelimit-Request-Remaining:
      - '2398'
      X-Ratelimit-Request-Reset:
      - '1782274817'
      X-Trace-Id:
      - 3a4b29fb30006d18846ca9f0ea5e6868
    body:
      encoding: ASCII-8BIT
      string: '{"model_name":"marengo3.0","text_embedding":{"segments":[{"float":[-0.06982422,-0.06347656,0.008300781,-0.026733398,-0.046875,-0.020751953,-0.08154297,-0.08203125,-0.015258789,0.002532959,0.048339844,0.08300781,0.024291992,0.04736328,0.03491211,-0.029541016,-0.0025024414,-0.052001953,-0.008117676,-0.056884766,-0.016479492,0.083984375,-0.028686523,0.01928711,-0.04248047,-0.008300781,-0.048339844,0.01586914,-0.010620117,0.08203125,-0.07714844,-0.049804688,-0.014587402,-0.0032806396,-0.0031738281,-0.020874023,-0.040527344,0.07763672,0.03515625,0.017333984,0.04980[...]
