<%% message = local_assigns[:message] || tool_calls %>
<%% message.<%= tool_call_variable_name.pluralize %>.each do |tool_call| %>
  <%%= render tool_call_partial(tool_call), message: message, tool_call: tool_call %>
<%% end %>
