class <%= tool_class_name %> < RubyLLM::Tool
  description "TODO: describe what this tool does"

  def execute
    # TODO: return something to the LLM.
    # Anything you return here gets converted to a string.
    "TODO: implement <%= tool_class_name %>"
  end
end
